/*
================================================
메인 페이지 CSS StyleSheet
================================================
*/
.titleSection {
    /* background-color: #FCFCEF; */
    padding: 50px 0 80px 0;
}

.titleSection .mt1 {
    width: 100%;
    height: 450px;  
}

.titleSection .mt1 .mainIcon {
    width: 100%;
    height: 90%;
    margin: 0 auto;   
    position: relative;
}


.titleSection .mt1 .mainIcon svg {
    margin-top: 10px;
}


.text-line {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: dash 5s linear forwards, filling 5s ease-in forwards;
    font-size: 80px;
    
}

.text-line text {
    /* font-family: Helvetica,Arial,sans-serif; */
    /* font-family: 'Nanum Myeongjo', serif !important; */
    /* font-family: 'Nanum Brush Script', cursive !important; */
    /* font-family: 'Yeon Sung', cursive !important; */
    font-weight: normal;
    font-style: normal;
}

@keyframes dash {
    to {
    stroke-dashoffset: 0;
    }
}

@keyframes filling {
    0%, 90% { fill: #3699c7; fill-opacity: 0; }
    100% { fill: #3699c7; fill-opacity: 1; }
}

.titleSection .mt1 .mainIcon .mi_img {
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}

.titleSection .mt1 .mainIcon .mi_coment {
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    font-weight: bold;
    font-size: 1.3rem;
    color: #00459e;
}

.mi_coment {
    animation: fadein 2s infinite;
    -moz-animation: fadein 2s infinite;
    /* Firefox */
    -webkit-animation: fadein 3s infinite;
    /* Safari and Chrome */
    -o-animation: fadein 5s infinite;
    /* Opera */
}

.mi_coment p {
	/* font-size: 1.3rem; */
	/* font-family: 'Yeon Sung', cursive !important; */
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.titleSection div img {
    width: 100px;
}


.titleSection div.mainIcon .mi_img .mi_img_1 {
    width: 150px;
}

.titleSection div.mainIcon .mi_img .mi_img_2 {
    width: 160px;
    display: none;
}

.titleSection div.mainIcon .mi_img:hover .mi_img_1{
    display: none;
}

.titleSection div.mainIcon .mi_img:hover .mi_img_2 {
    display: inline-block;
}

/*
    도는 효과
*/

.titleSection div.mainIcon .mi_img .mi_img_2:hover {
    animation-name: dolgodola;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    width: 180px;
}

@keyframes dolgodola {
    0% {
        transform: rotate(0deg);
    }
    12.5% {
        transform: rotate(45deg);
    }
    25% {
        transform: rotate(90deg);
    }
    37.5% {
        transform: rotate(135deg);
    }
    50% {
        transform: rotate(180deg);
    }
    62.5%{
        transform: rotate(225deg);
    }
    75% {
        transform: rotate(270deg);
    }
    87.5%{
        transform: rotate(315deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*
    스크롤 다운 효과
*/
.scrollDown_new{
    /* position: absolute; */
    /* bottom: 1.8rem; */
    /* left: 50%; */
    transform: translate3d(-50%, 0, 0);
    margin: 0 auto;
    text-align: center;

}
.srollDown_new a {}

.srollDown_new a img {
    margin: 0 auto;
    width: 6rem;
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    
}

@-webkit-keyframes sdb {
    0% {
    -webkit-transform: translate(0, 0);
    }
    20% {
    -webkit-transform: translate(0, 10px);
    }
    40% {
    -webkit-transform: translate(0, 0);
    }
    }
    @keyframes sdb {
    0% {
    transform: translate(0, 0);
    }
    20% {
    transform: translate(0, 10px);
    }
    40% {
    transform: translate(0, 0);
    }
}

/* mainSection 01 */
.mainSection_01 .ms1 {
    width: 100%;
    background-color:  #CAE5FC;
    /* height: 450px; */
    margin: 0 auto;
    display: flex;
    padding: 80px 0;
    align-items: center;
    justify-content: center;
}

.mainSection_01 .ms1 .ms1_content, .ms1_img {
    width: 40%;
    text-align: center;
}

.mainSection_01 .ms1 .ms1_content .ms1t_1, .ms1t_2, .ms1t_3, .ms1t_4, .ms1t_5 {
    margin-bottom: 10px;
}

.mainSection_01 .ms1 .ms1_content .ms1t_1 {
    width: 80%;
}

.mainSection_01 .ms1 .ms1_content .ms1t_2 {
    width: 70%;
}

.mainSection_01 .ms1 .ms1_content .ms1t_3 {
    width: 100%;
}


.mainSection_01 .ms1 .ms1_img img {
    width: 350px;
}

/* 폰트 부분 */
.mainSection_01 .ms1 .ms1_content span {
    font-weight: bold;
}


.mainSection_01 .ms1 .ms1_content .ms1t_1 .mst11 {
    /* font-size: 3.5em;
    color: rgb(81, 175, 160); */
    font-size: 2.5em;
    color: rgb(49, 141, 218);
}
.mainSection_01 .ms1 .ms1_content .ms1t_1 .mst12 {
    /* font-size: 2.5em;
    color: rgb(90, 209, 136); */
    font-size: 2.5em;
    color: rgb(49, 141, 218);
}

.mainSection_01 .ms1 .ms1_content .ms1t_1 .mst13, .mst22, .mst42 {
    font-size: 2em;
}

.mainSection_01 .ms1 .ms1_content .ms1t_2 .mst23 {
    font-size: 1.8em;
}

.mainSection_01 .ms1 .ms1_content .ms1t_2 img {
    width: 50px;
}

.mainSection_01 .ms1 .ms1_content .ms1t_3 .mst31 {
    font-size: 1.6em;
    /* color: #2E8627; */
}

.mainSection_01 .ms1 .ms1_content .ms1t_3 .mst32 {
    font-size: 1.8em;
    /* color: #4cc044; */
}

.mainSection_01 .ms1 .ms1_content .ms1t_3 .mst33 {
    font-size: 2em;
    /* color: #40e034; */
}

.mainSection_01 .ms1 .ms1_content .ms1t_4 .mst41 {
    font-size: 3.3em;
    color: rgb(49, 141, 218);
}

.mainSection_01 .ms1 .ms1_content .ms1t_5 {
    font-size: 1.2em;
}

.mainSection_01 .ms1 .ms1_content .ms1t_5 .mst51 {
    color: rgb(248, 232, 4);
    font-size: 1.2em;
}

.mainSection_01 .ms1 .ms1_content .ms1t_5 .mst52 {
    color: rgb(24, 159, 238);
}

/* mainSection 02 */

.mainSection_02 .ms2 {
    width: 100%;
	padding: 80px 0;
    /* height: 450px; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainSection_02 .ms2 .ms2_content, .ms2_img {
    width: 40%;
    text-align: center;
}

.mainSection_02 .ms2 .ms2_content .ms2t_3, .ms2t_4, .ms2t_5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 5px;
}

.mainSection_02 .ms2 .ms2_content .ms2t_3 div, .ms2t_4 div, .ms2t_5 div {
    width: 33%;
}

.mainSection_02 .ms2 .ms2_content img {
    width: 50px;
}

.mainSection_02 .ms2 .ms2_content .ms2t_2 p{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

/* 랭킹 더보기 버튼 수정 - 송희  */
.mainSection_02 .ms2 .ms2_content button {
	width: 53%;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3em;
    font-weight: 600;
    background-color: rgb(50, 157, 245);
    padding: 5px 50px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid rgb(50, 157, 245);
    -webkit-apperance: none;
    -moz-appearance: none;
    appearance: none;
}

.mainSection_02 .ms2 .ms2_content button:hover {
	color: rgb(50, 157, 245);
	background-color: #ffffff;
}

.mainSection_02 .ms2 .ms2_content .ms2t_6 {
    background-color: rgb(24, 159, 238);
    width: 53%;
    height: 35px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 10px;
}

.mainSection_02 .ms2 .ms2_content .ms2t_6 a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
}

.mainSection_02 .ms2 .ms2_content .ms2t_7 {
    font-size: 0.8em;
    font-weight: 400;
    color: rgb(87, 87, 87);
    margin-top: 10px;
}

.mainSection_02 .ms2 .ms2_content .ms2t_7 p {
    margin-bottom: 0;
}

/* mainSection 03 */

.mainSection_03 .ms3 {
    background-color:  #CAE5FC;
    width: 100%;
    padding: 80px 0;
    margin: 0 auto;
    text-align: center;
    /* height: 450px; */
}

.mainSection_03 .ms3 .ms3_textBox > div{
    width: 200px;
    margin: 0 auto;
    position: relative;
}

.mainSection_03 .ms3 .ms3_textBox  {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
    text-shadow: -1px 0 #1f1f1f, 0 1px #1f1f1f, 1px 0 #1f1f1f, 0 -1px #1f1f1f;
}

.mainSection_03 .ms3 .ms3_textBox .ms3_1 {
    top: 20px;
    left: -100px;
}

.mainSection_03 .ms3 .ms3_textBox .ms3_1 span {
    font-size: 2.3em;
    font-weight: bold;
    color: rgba(15, 101, 214, 0.925);
}

.mainSection_03 .ms3 .ms3_textBox .ms3_2 {
    left: 150px;
}

.mainSection_03 .ms3 .ms3_textBox .ms3_2 span {
    font-size: 2.3em;
    font-weight: bold;
    color: rgba(23, 194, 165, 0.925);
}

.mainSection_03 .ms3 .ms3_textBox .ms3_3 {
    left: -150px;
}

.mainSection_03 .ms3 .ms3_textBox .ms3_3 span {
    font-size: 2.3em;
    font-weight: bold;
    color: rgba(16, 199, 98, 0.925);
}

.mainSection_03 .ms3 .ms3_textBox .ms3_icon {
    top: -100px;
}

.mainSection_03 .ms3 .ms3_textBox .ms3_icon > img {
    top: -200px;
    width: 10rem;
}

.mainSection_03 .ms3 .ms3_textBox .ms3_4 {
    top: -100px;
    left: 150px;
}

.mainSection_03 .ms3 .ms3_textBox .ms3_5 {
    top: -70px;
}

.mainSection_03 .ms3 .ms3_abox {
    align-items: center;
    justify-content: center;
    margin-top: -50px;
}


.mainSection_03 .ms3 .ms3_abox .ms3_search {
    background-color: rgb(24, 159, 238);
    width: 25%;
    height: 35px;
    margin: 0 auto;
    border-radius: 10px;
}

.mainSection_03 .ms3 .ms3_abox .ms3_search a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
}


/* 플로깅 모임 검색 버튼 수정 - 송희  */
.mainSection_03 .ms3 .ms3_abox button {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3em;
    font-weight: 600;
    background-color: rgb(50, 157, 245);
    padding: 10px 50px;
    border-radius: 10px;
    border: 1px solid rgb(50, 157, 245);
    -webkit-apperance: none;
    -moz-appearance: none;
    appearance: none;
}

.mainSection_03 .ms3 .ms3_abox button:hover {
	color: rgb(50, 157, 245);
	background-color: #ffffff;
}