/*
================================================
소개 페이지 CSS StyleSheet
================================================
*/

.introTitle_section {

}

.introTitle_section .titleBox {
    background-color: #CAE5FC;
    padding: 60px 0;
}

.introTitle_section .titleBox h2 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.introContent_section_01 {
    /* padding: 50px 0; */
}

.introContent_section_01 .contentContainer {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.introContent_section_01 .contentContainer .slideBox {
    width: 50%;
    padding: 50px;
}

.introContent_section_01 .contentContainer .textBox {
    width: 43%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.introContent_section_01 .contentContainer .textBox p.title {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: 10px;

}

.introContent_section_01 .contentContainer .textBox p.title span {
    background-color: #CAE5FC;
}

.introContent_section_01 .contentContainer .textBox p.titleSub {
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.introContent_section_01 .contentContainer .textBox p.text {
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 0;
}

.introContent_section_02 {
    background-color: #cae5fc6a;
    /* padding: 50px 0; */
}

.introContent_section_02 .contentContainer {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.introContent_section_02 .contentContainer .slideBox {
    width: 50%;
    padding: 50px;
}

.introContent_section_02 .contentContainer .textBox {
    width: 43%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.introContent_section_02 .contentContainer .textBox p.title img{
    width: 70px;

}

.introContent_section_02 .contentContainer .textBox p.titleSub {
    font-size: 1.7rem;
    /* font-style: italic; */
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.introContent_section_02 .contentContainer .textBox p.text {
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 400;
    text-align: right;
    margin-bottom: 0;
}

.introContent_section_03 {
    padding: 80px 0;
}

.introContent_section_03 h3,
.introContent_section_04 h3,
.introContent_section_05 h3 {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: 30px;
    text-align: center;
}

.introContent_section_03 .contentBox {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    margin: 0 auto;
    width: 70%;
    /* margin-top: 4rem; */
}

.introContent_section_03 .contentBox .itemBox {
    width: 22.4rem;
    margin: 0 1rem;
    background: #fff;
    border: 1px solid #ffffff;
    letter-spacing: -0.05rem;
    border-radius: 30px;
    padding: 2rem;
    box-shadow: 0.4rem 0.4rem 1.2rem 0 rgb(0 0 0 / 12%);
}

.introContent_section_03 .contentBox .itemBox:hover {
    border: 1px solid #9b9b9b;
}

.introContent_section_03 .contentBox .itemBox h4 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10px 0;
}

.introContent_section_03 .contentBox .itemBox p {
    font-size: 1rem;
    letter-spacing: -0.08rem;
    font-weight: 400;
    margin: 15px 0;
}

.introContent_section_03 .contentBox .itemBox strong {
    display: block;
    letter-spacing: -0.05rem;
    font-size: 1.2rem;
    margin: 0 0 30px 0;
    font-weight: 400;
}

.introContent_section_03 .contentBox .itemBox a {
    /* bottom: 1.9rem;
    right: 2.8rem; */
    font-size: 1.2rem;
    text-decoration: none;
    color: #1f1f1f;
    border-bottom: 1px solid #1f1f1f;
    /* display: inline-block; */
}

.introContent_section_03 .contentBox .itemBox a:hover {
    color: #74b8f3;
    border-color: #74b8f3;
}

.introContent_section_04 {
    background-color: #cae5fc6a;
    padding: 80px 0;
}

.introContent_section_04 .videoContainer {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.introContent_section_04 .videoContainer .videoBox.box_01{
    margin-right: 10px;
}

.introContent_section_04 .videoContainer .videoBox.box_02{
    margin-left: 10px;
}

.introContent_section_04 .videoContainer .videoBox p {
    text-align: center;
    margin-bottom: 0;
}

.introContent_section_04 .videoContainer .videoBox p span{
    font-weight: 600;
}

.introContent_section_04 .videoContainer .videoBox i {
    color: tomato;
}

.introContent_section_05 {
    padding: 50px 0;
}

.introContent_section_05 .buttonBox {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
}


.introContent_section_05 .buttonBox .button{
    width: 25rem;
    margin: 0 1rem;
    background: #ffffff;
    letter-spacing: -0.05rem;
    border-radius: 30px;
    padding: 2rem;
    border: 1px solid rgb(50, 157, 245);
    cursor: pointer;
    box-shadow: 0.4rem 0.4rem 1.2rem 0 rgb(0 0 0 / 12%);
}

.introContent_section_05 .buttonBox .button p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.introContent_section_05 .buttonBox .button a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(50, 157, 245);
}

.introContent_section_05 .buttonBox .button:hover {
    background-color: rgb(50, 157, 245);
    color: #ffffff;
}

.introContent_section_05 .buttonBox .button:hover a {
    color: #ffffff;
}