/*
==============================================
회원가입 축하 페이지 CSS StyleSheet
==============================================
*/

.first_tool, .second_tool {
    font-family: sans-serif
}

.first_tool {
    background-color:  rgba(83, 240, 180, 0.39);
    width: 100%;
    text-align: center;
    padding: 20px 0 -20px;
    margin: 0 auto;
    border-bottom: 1px solid silver;
}

.first_tool > .icon {
    align-items: stretch;
}

.celebrate {
    width: 3rem;
    margin-bottom: -10px;
}


.celebrate, .maintitle1, .maintitle2 {
    display: inline-block;
}

.maintitle2 {
    margin-top: -30px;
}

.maintitle2 img {
    width: 1rem;
}



.second_tool {
    background-color:  rgba(88, 170, 236, 0.362);
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
}

.st_textBox > div{
    position: relative;
}

.st_textBox {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.stt_1 {
    top: 100px;
    left: -100px;
}

.stt_1 span {
    font-size: 2.3em;
    font-weight: bold;
    color: rgba(15, 101, 214, 0.925);
}

.stt_2 {
    top: 70px;
    left: 100px;
}

.stt_2 span {
    font-size: 2.3em;
    font-weight: bold;
    color: rgba(23, 194, 165, 0.925);
}

.stt_3 {
    top: 110px;
    left: -160px;
}

.stt_3 span {
    font-size: 2.3em;
    font-weight: bold;
    color: rgba(16, 199, 98, 0.925);
}

.stt_icon > img {
    width: 10rem;
}

.stt_4 {
    left: 130px;
}

.stt_5 {
    top: 20px;
}

.third_tool {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.th_search, .th_home {
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 10px auto 0 auto;
    width: 200px;
    height: 30px;
    font-size: 10px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    margin: 10px auto 0 auto;
    padding: 0px 15px;
}


.th_search {
    background-color: rgb(82, 149, 250);
}

.th_home {
    background-color: rgba(16, 199, 98, 0.925);
}


.third_tool img {
    width: 1rem;
    height: 1rem;
    margin-right: 28px;
}

.th_home img {
    margin-right: 60px;
}

.third_tool a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}