@charset "UTF-8";
/*
개인 플로깅 인증 게시판
*/

.ploggingPerson {
    margin: 0 auto;
    width: 100%;
}

.ploggingPerson .titleBox {
    margin: 0 auto;
    padding: 100px 0 20px 0;
    background-color: rgba(88, 170, 236, 0.362);
}


.ploggingPerson .titleBox h2 {
    text-align: center;
    margin: 0 auto;
    font-size: 1.5rem;
    padding-bottom: 50px;
}

.ploggingPerson .menuBox {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.ploggingPerson .menuBox .menuList{
    width: 20%;
    display: inline-block;
    /* text-align: center; */
    align-items: center;
}

.ploggingPerson .menuBox .menuList a {
    text-decoration: none;
    color: #1f1f1f;
    font-size: 1rem;

}

.ploggingPerson .menuBox .menuList span img {
    width: 25px;
    height: 25px;
    transform: translate(-5px, -10%);
}

/* contentBox */

.contentBox {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin: 0 auto;
    font-family: sans-serif
}


.ht_search2, .ht_keyword2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}


.ht_search2 input {
    margin-right: -15px;
    width: 500px;
    height: 30px;
    border: 1px solid rgb(74, 165, 240);
    border-radius: 8px;
}

.ht_search2 button {
    width: 50px;
    height: 30px;
    border: 1px solid rgb(74, 165, 240);
    border-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: rgb(74, 165, 240);
    position: relative;
    transform: translateY(-1px);
}

.ht_search2 button img{
    width: 20px;
}

.ht_keyword2 {
    margin: 10px;
}

.ht_keyword2 p {
	transform: translateY(7px);
}

.ht_keyword2 > div {
    margin-left: 10px;
    margin-right: 10px;
}

.ht_keyword2 p {
    font-size: 0.8em;
    font-weight: bold;
    color: rgb(104, 103, 103);
}

.ht_hash2 {
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    width: 80px;
    height: 25px;
}

.ht_hash2 a {
    text-decoration: none;
    font-size: small;
    font-weight: bold;
    color: rgb(50, 157, 245);
}

.btns {
    display: flex;
    margin-top: 20px;
}

.btns > div {
    width: 33%;
}

.col1 {
    margin: 0 auto;
}

.btns button {
    background-color: rgb(74, 165, 240); ;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 30px;
}

.btns button a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: small;
}

.col2 a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: small;
}

.col2 img {
    width: 20px;
}

/* picture */


.picture img {
    width: 100%;
    height: 100%;
}

.p1, .p2 {
    display: flex;
    width: 100%;
    position:relative;
    overflow:hidden;
}

.p1 > div, .p2 > div {
    position: relative;
}

.blur
{
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.4);

    position: absolute; /* 이미지와 겹치게 처리 */
    top: 0; left: 0;

    color: #fff; text-align: center;
    line-height: 130px;
    font-size: small;
    font-weight: bold;

    opacity: 0; /* 처음엔 안보이고 */

    transition: 0.3s;
}

.blur:hover
{
    opacity: 1;
}

.blur a {
    text-decoration: none;
    color: white;
}

/*
개인플로깅 인증 게시판 상세보기 css
*/

.boardBox, .bbb_1, .bbb_comentBox {
    display: flex;
}


.bbb_1, .bbb_2, .bbb_3, .bbb_4 {
    border-bottom: 1px solid silver;
    align-items: center;
}

.bb_imgs, .bb_board {
    width: 50%;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    height: 50%;
}

.bb_imgs {
    margin-left: 70px;
}
.bb_board {
    margin-right: 70px;
}

.bbb_1_profile_img {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
    margin: 0px 20px 0px 20px;
}

.bbb_1_profile_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bbb_1 p, .bbb_3 p {
    font-size: small;
    font-weight: bold;
}

.bbb_textBox {
    text-align: start;
    font-size: small;
    font-weight: bold;
    margin: 10px 20px 10px 20px;
}

.bbb_textBox span {
    color: rgb(50, 157, 245);
}

.bbb_comentBox {
    width: 100%;
    text-align: start;
    align-items: center;
    font-size: small;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
}

.bbb_Nickname {
    width: 10%;
}

.bbb_coment {
    width: 70%;
    margin-left: 30px;
}

.bbb_cbtn {
    background-color: white;
    border: none;
    font-size: small;
    font-weight: bold;
    color: slategray;
}

.bbb4_icon, .bbb4_liketime {
    display: flex;
}

.bbb4_icon svg {
    margin: 10px;
}

.bbb4_liketime {
    text-align: start;
    font-size: small;
    font-weight: bold;
    margin-bottom: -10px;
    margin-left: 10px;
}

.bbb4_time {
    padding-left: 20px;
    color: slategray;
}

.bbb5_input {
    display: flex;
    border: none;
    align-items: center;
    margin-top: 5px;
    text-align: center;
    width: 99%;
    margin-left: 1%;
}

.bbb5_input svg {
    width: 10%;
    transform: translateY(-7px);
}

.bbb5_input>div>input {
    margin-right: -15px;
    width: 80%;
    height: 40px;
    border: none;
}

.bbb5_input>div>button {
    width: 10%;
    height: 40px;
    border: none;
    background-color: white;
    position: relative;
    color: rgb(74, 165, 240);
    font-weight: bold;
    text-align: end;
}

.buttonBox_D {
    display: block;
    margin-top: 50px;
    margin-bottom: 30px;
}

.buttonBox_D div {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.buttonBox_D button {
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    background-color: rgb(101, 178, 241);
    color: white;
    font-weight: bold;
}


/*
개인플로깅 인증 게시판 글 작성 css
*/

.boardBox_p, .bbbp_1, .bbbp2_input {
    display: flex;
}


.bbbp_1, .bbbp_2 {
    border-bottom: 1px solid silver;
    align-items: center;
}


.bb_file, .bb_board_p {
    width: 50%;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    height: 500px;
}

.bb_file {
    position: relative;
    width: 53.5%;
}

.bb_file div {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bb_file p {
    font-weight: bold;
    color: rgb(124, 124, 124);
}

.bbf1 {
    padding: 6px 25px; 
    background-color: rgb(41, 139, 219);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.bb_board_p {
    margin-right: 70px;
    border-left: 1px solid silver;
}

.bbbp_1_profile_img {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
    margin: 0px 20px 0px 20px;
}

.bbbp_1_profile_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bbbp_1 p, .bbbp_3 p {
    font-size: small;
    font-weight: bold;
}

.bbbp_textBox {
    text-align: start;
    font-size: small;
    font-weight: bold;
    margin: 10px 20px 10px 20px;
    height: 80%;
}

.bbbp_textBox span {
    color: rgb(50, 157, 245);
}

.mb-3 textarea {
    height: 350px;
    resize: none;
}

.bbbp2_input {
    justify-content: space-between;
    height: 15px;
    margin-top: -10px;
}

.bbbp_Nickname {
    width: 10%;
}

.bbbp3_input {
    display: flex;
    margin: 10px;
    align-items: center;
}

.bbbp3_input div {
    margin-right: 10px;
}

.bbbp3_input label {
    margin-right: 20px;
    margin-left: 8px;
    font-size: small;
    font-weight: bold;
}

#exampleColorInput {
    margin-right: 30px;
}

.buttonBox_p {
    display: block;
    margin-top: 50px;
    margin-bottom: 30px;
}

.buttonBox_p div {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.buttonBox_p button {
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    background-color: rgb(41, 139, 219);
    color: white;
    font-weight: bold;
}
