/* 
    쓰담쓰담 Common CSS Style Sheet
*/

/* ********************************* */
/********  쓰담쓰담 COMMON CSS *********/
/* ********************************* */

@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    scroll-behavior:smooth;
    /* font-family: sans-serif !important; */
    /* font-family: 'GongGothicMedium' !important; */
    /* font-family: "ONE-Mobile-POP"  !important; */
	font-family: 'twayair' !important;
	/* font-family: 'TmoneyRoundWindExtraBold' !important; */
}

body {
    margin: 0 auto;
    scroll-behavior:smooth;
}


/*
================================================
상단 메뉴바 CSS StyleSheet
================================================
*/
.topMenu_Container {
    background-color: #F5FBFE;
    max-width: 1920px;
    width: 100%;
    padding: 0;
}

.topMenu_Container .topMenu a {
    text-decoration: none;
    
}
.topMenu_Container .topMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    width: 90%;
    max-width: 1920px;
    margin: 0 auto;

}

/* 로고 박스 */
.topMenu_Container .topMenu .logoBox a {
    line-height: 0;
    text-decoration: none;
    color: #1f1f1f;
    font-size: 1.5rem;
    font-weight: 600;
}

.topMenu_Container .topMenu .logoBox a span {
    font-size: 0.6rem;
    padding-left: 10px;
    font-weight: 400;
}
.topMenu_Container .topMenu .logoBox a img {
    width: 2rem; /* 135px */
    vertical-align: middle;
}

/* 메뉴 버튼 */
.topMenu_Container .topMenu .logoBox nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

/* 메뉴 리스트 */
nav ul.nav_list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
}
nav ul.nav_list li.nav_item {
    margin-right: 2rem;
    text-align: center;
}
nav ul.nav_list li.nav_item a {
    font-size: 1.1rem; /* 18px */
    font-weight: 500;
    line-height: 1.4;
    color: #1f1f1f;
    position: relative;
}
nav ul.nav_list li.nav_item a:hover {
    color: rgb(50, 157, 245);
}
nav ul.nav_list li.nav_item a:hover:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgb(50, 157, 245);
}

nav ul.nav_list li.nav_item ul.sub_item {
    list-style: none;
    text-align: left;
    padding: 30px 0 10px 10px;
    display: none;
    height: auto;
    border: 0px;
    position: absolute;
    /* width: 250px; */
    z-index: 200;
    /* top: 60px; */
    /* background-color: rgba(245, 245, 245); */
    background-color: #F5FBFE;
}

nav ul.nav_list li.nav_item ul.sub_item li:hover {
    color: rgb(50, 157, 245);
    border-bottom: none;
}

nav ul.nav_list li.nav_item ul.menu_01,
nav ul.nav_list li.nav_item ul.menu_02 {
    width: 250px;
}

nav ul.nav_list li.nav_item ul.menu_03 {
    width: 120px;
}


nav ul.nav_list li.nav_item ul.sub_item li a {
    height: 80px;
    line-height: 2;
}

nav ul.nav_list li.nav_item a:hover+ul{
    display: block;
}

nav ul.nav_list li.nav_item ul.sub_item:hover{
    display: block;
}


/* 로그인 버튼 */
nav ul.nav_list li.loginBtn {}
nav ul.nav_list li.loginBtn a {
    font-size: 1.2rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: #ffffff;
    padding: 0.6rem 2rem 0.6rem; /* 6px 12px 8px */
    background-color: rgb(50, 157, 245);
    border-radius: 10px;
    /* margin-left: 20px; */
    margin-left: 50px;
    border: 1px solid rgb(50, 157, 245);
}

nav ul.nav_list li.loginBtn a:hover {
    background-color: #ffffff;
    color: rgb(50, 157, 245);
    border: 1px solid rgb(50, 157, 245);
}

/* 로그아웃 버튼 */
nav ul.nav_list li.logoutBtn a{
    font-size: 1.2rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: #ffffff;
    padding: 0.6rem 2rem 0.6rem; /* 6px 12px 8px */
    background-color: tomato;
    border-radius: 10px;
    margin-left: 20px;
    border: 1px solid tomato;
}

nav ul.nav_list li.logoutBtn a:hover {
    background-color: #ffffff;
    color: tomato;
    border: 1px solid tomato;
}



/* ********************************* */
/*  쓰담쓰담 Footer 섹션 */
footer {
}

footer div.footer_wrapper {
    background-color: whitesmoke;
    padding: 50px 150px;
    margin: 0 auto;
}
footer .textbox {
    /* display: inline-block; */
}
footer .textbox_1{
    display: inline-block;
}

footer .textbox_1 h2 span img {
    width: 2rem;
    vertical-align: middle;
    padding-right: 10px;
}

footer .textbox_1 h2 {
    margin: 0 auto;
}

footer .textbox_1 p {
    font-size: 0.8rem;
    font-weight: lighter;
    color: gray;
}

footer .textbox_1 a {
    font-size: 0.8rem;
    color: gray;
    margin-right: 10px;
}


footer .textbox_2 {
    float: right;
    text-align: left;
}

footer .textbox_2 h2 {
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 10px;
}

footer .textbox_2 div.iconBox {

}

footer .textbox_2 div.iconBox div.icon {
    display: inline-block;
}

footer .textbox_2 div.iconBox div.icon.icon_01 {
    float: left;
}

footer .textbox_2 div.iconBox div.icon.icon_02 {
    float: right;
}

footer .textbox_2 div.iconBox div.icon img {
    width: 2rem;
}

footer .textbox_2 div.iconBox div.icon_02 img {
    transform: translateY(-3px);
}

footer .textbox_2 div.iconBox div.icon p {
    margin:  0 auto;
    text-align: center;
}

footer .textbox_2 div.iconBox div.icon p a {
    text-decoration: none;
    color: black;
}

